* {
    padding: 0;
    margin: 0;
    line-height: 2;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 80%;
    margin: 0 auto;
}

p {
    padding: 20px 0;
}


header {
    display: flex;
    flex-direction: row;
}

header p {
    margin-left: 80px;
}

article {
    width: 40%;
    margin-top: 50px;
}

address {
    font-size: 16px;
    width: 55%;
    border-bottom: 2px solid black;
}

